@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

    body {
          background-image:linear-gradient(to right, #A62E86, #4741F2, #34C0E1)  
    }

    main{
        background-color: white;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
        width: 600px;
        padding: 10px;
        margin:auto
    }

    h1 {
        color: #FA6547;
        text-align: center;
        text-shadow: 1px 1px 0px#9b1d04b4;        ;
    }

    h2 {
        color: #BF2B0A;

    }
p {
    text-align: justify;

}