@charset "utf8";

body{
    margin: 0px;
    padding: 0px;
}


.caixa{
    width: 400px;
    background: #dedede url(arquivos-necessarios-arredondamento-com-imagens/fundo-arredondamento.png) repeat-y;
}

.caixa h2{
    padding: 10px 20px 0px 20px;
    background: url(arquivos-necessarios-arredondamento-com-imagens/topo2.png) no-repeat left top;
}

.caixa p{
    padding: 0 20px;
}

.caixa .ultimo{
    background: url(arquivos-necessarios-arredondamento-com-imagens/baixo2.png) no-repeat left bottom;
    padding-bottom: 20px;



}