@charset "utf-8";

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 720px;
    background: #159CB0 url(arquivos-necessarios-navegacao-horizontal/fundo-horizontal.png) repeat-x;
    float: left;
}

ul li{
    float: left;
}

ul a{

    display: block;
    padding: 0 2em;
    line-height: 2.2em;
    text-decoration: none;
    color: #fff;
    background: url(arquivos-necessarios-navegacao-horizontal/divisor.png) repeat-y;
}

ul .primeiro a{
    background: none;
}

ul a:hover{
    color: #085662;
    background: #44cade;

}

















